# ROS 2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local environment settings
.vscode/
.env

# Docker
.docker/

# OS specific
.DS_Store
Thumbs.db

# Mission data
mission_data.csv

# Node JS / React
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.vite/
